body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.navbar {
    background-color: #3f972b;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color:  #3f972b;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-produto.nav-link.active:hover {
    color: #fff;
}

#cabecalho .nav .nav-link:hover {
   font-size: 18px;
}

.container .logo {
    width: 100px;
}

.navbar-toggler {
    background-color:#fffefe
}

.section-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

#sobre-nos {
    background-color: #fffefe;
}

.row .sobre-nos {
    height: 350px;
    width: 300px;
}

.text-colored {
    color: #3f972b;
}

.nav-produto .nav-link.active,
.fale-conosco button {
    background-color: #9bb993;
    color: #fff;
}

.nav-produto .nav-link:hover {
   color: #3f972b;
}

.controles,
#fale-conosco {
    background-color: #d5f9d497;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
    
}

.error {
    display: block;
    font-size: 14px;
    color: rgb(87, 85, 85);
}

.container .controles-personalizados {
    max-width: 70%;

}

.material-symbols-outlined {
    cursor: pointer;
}

.material-symbols-outlined:hover{
    color: rgb(14, 233, 39);
    font-size: 30px;
}

.card .card-body .card-text {
    font-size: 15px;
}


@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

@media (max-width: 540px) {
    .carousel-item img {
        width: 380px;
        height: 200px;
    }

    .sobre-nos {
        margin-left: 8%;
    }
}

@media screen and (max-width: 1570px) {
    .carousel-item img {

    }
}